
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>


    <form action="{{ url_for("start")}}" method="post">
        <label for="Startdatum"><h4 class="display-6">Startdatum contract : </h4></label>
        <!-- <span class="input-group-text" id="inputGroup-sizing-default">Startdatum contract : </span> -->
        <div class="input-group mb-3 row">
            <div class="col-auto"><input type="text" class="form-control" id="date" name="startdate" placeholder="DD-MM-JJJJ"></div>
            <div class="col-auto"><button type="submit" class="btn btn-primary">Bereken laatste werkdag</button></div>
        </div>
    </form>



<br><br><br><br><br><br><br><br><br>
<p>Verzoek of een foutje? Laat het Joyce weten!</p>
<br>
<h6>V1.2</h6>
<ul class="list-group">
    <li class="list-group-item col-5">Knop toegevoegd waarmee je makkelijk nog een datum kan berekenen.</li>
    <li class="list-group-item col-5">Laatste werkdag is nu in format DD-MM-JJJJ zodat die gekopieerd kan worden.</li>
</ul>

<h6>V1.1</h6>
<ul class="list-group">
    <li class="list-group-item col-5">Gebruiksvriendelijkere interface.</li>
</ul>
